<div class="container">
    <div class="row">
      <div class="col-sm-6 d-flex justify-content-end">
        <img src="assets/fundo.png" />
      </div>
  
      <div class="card primeiro-card" style="width: 20rem">
        <div class="card-body">
          <div class="card-title"></div>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="E-mail" />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nome completo" />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nome de usuário" />
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Senha" />
            </div>
            <button type="submit" class="btn btn-primary btn-sm btn-block">
              Entrar
            </button>
            <hr />
          </form>
          <div class="termos">
          <p class="frase">Ao cadastrar-se, você concorda com nossos</p>
          <h5>Termos e Política de Privacidade</h5>
        </div>
        
        </div>
        <div class="card segundo-card" style="width: 20rem">
          <div class="card-body">
              
     <p class="link">Tem uma conta?<a routerLink="/">Faça login</a></p>
     
      </div>
     
    </div>
  
  </div>
  
